<p id="notice"><%= notice %></p>

<p>
  <b>Display name:</b>
  <%= @event.display_name %>
</p>

<p>
  <b>Permalink:</b>
  <%= @event.permalink %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
